<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Company database</title>{% endblock %}
    {% load static %}
     <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
  {% block sidebar %}<nav>
		<ul class="navigation_bar" >
			<li><a class="navigation_button" href="{% url 'employee_page'  %}" >Employees</a></li>
			<li><a class="navigation_button" href="{% url 'department_page'  %}">Departments</a></li>
			{% block addbutton %}<li><a class="navigation_button"  id="add_Button">Add</a></li>{% endblock %}

 		 </ul>
	</nav>{% endblock %}
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}
</body>
</html>