{% extends "base_generick.html" %}
{% block title %}<title> Department database </title>{% endblock %}
{% block addbutton %} <li><a class="navigation_button" href="create_department" id="add_Button">Add</a></li>{% endblock %}


{% block content %}
<form  action="{% url 'department_page' %}" >
	<label class="employee_filter" for="begin_date">Sort from:</label>
	<input type="number"  id="begin_date" name="min" placeholder="min number of employees">
	<label class="employee_filter" for = "last_date">by:</label>
	<input type="number"   id="last_date" name="max" placeholder="max number of employees">
	<label class="employee_filter" for="sort_departments">Select location:</label>
	<select name="location" id="sort_departments" >
		<option></option>
		{% for Departments in object_list %}
		<option >{{Departments.location}}</option>
		{% endfor %}
	</select>
	<button type="submit">Найти</button>
</form>

	<table id="zen" class="table_employees">
		<tbody >
			<tr class="table_employees">
			<th>Department</th>
			<th>Number of employees</th>
			<th>Head</th>
			<th>Location</th>
				<th class="button_row" colspan="2">
				<form href="department_page">
					<button id="refresh" class="refresh_Button" >Show all</button>
				</form>
			</th>
		</tr>
		{% for Departments in object_list %}
		<tr>
			<td>{{ Departments.name }}</td>
			<td>{{ Departments.number_of_employees }}</td>
			<td>{{ Departments.head }}</td>
			<td>{{ Departments.location }}</td>

			<form  method="get" action="{% url 'edit_department' Departments.id %}">
				{% csrf_token %}
				<td class="button_row"><button  class="edit_Button">Edit</button></td>
			</form>
			<form method="post" action="{% url 'delete_department' Departments.id %}">
				{% csrf_token %}
				<td class="button_row"><button id="2021" class="delete_Button" >Delete</button></td>
			</form>
		</tr>
		{% endfor %}

		</tbody>
    </table>
{% endblock %}