{% extends "base_generick.html" %}
{% block title %}<title>Employee database</title>{% endblock %}
{% block addbutton %} <li><a class="navigation_button" href="{% url 'create_employee' %}" id="add_Button">Add</a></li>{% endblock %}
{% block content %}
<form >
	<label class="employee_filter" for="begin_date">Sort from:</label>
	<input type="date" id="begin_date" name="begin_date">
	<label class="employee_filter" for = "last_date">by:</label>
	<input type="date" id="last_date" name="last_date">
	<button class="show_All_Button" id="show_all" >Show all</button>
	<label class="employee_filter" for="sort_departments">Select department:</label>
	<select id="sort_departments">
		<option value="All departments">All departments</option>
		<option value="Enterprise software department">Enterprise software department</option>
		<option value="Testing">Testing</option>
		<option value="Support">Support</option>
	</select>
	</form>

	<table id="zen" class="table_employees">
		<table >
			<tr class="table_employees">
			<th>Name</th>
			<th>Surname</th>
			<th>Date of birth</th>
			<th>Position held</th>
			<th>Salary</th>
			<th>Department</th>

		</tr>
		{% for emp in object_list %}
		<tr>
			<td>{{emp.name}}</td>
			<td>{{emp.surname}}</td>
			<td>{{emp.date_of_birth}}</td>
			<td>{{emp.position_held}}</td>
			<td>{{emp.salary}}</td>
			<td>{{emp.depart}}</td>
			<form method="get" action="{% url 'edit_employee' emp.id %}">
				{% csrf_token %}
				<td class="button_row"><button class="edit_Button">Edit</button></td>
			</form>
			<form method="post" action="{% url 'delete_employee' emp.id %}">
				{% csrf_token %}
				<td class="button_row"><button id="2021" class="delete_Button" >Delete</button></td>
			</form>
		</tr>
			{% endfor %}
        </table>
    </table>
{% endblock %}